@import "tailwindcss";
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}
